.container {
    width: 500px;
    height: 500px;
    background-color: red;
    left: 300px;
    position: relative;
}

.container2 {
    width: 200px;
    height: 200px;
    background-color: whitesmoke;
    color: blue;
    left: 200px;
    left: 250px;
}

.mojeJe {
    width: 100px;
    height: 100px;
    background-color: aqua;
    position: absolute;
    left: 30px;
}